/* 
** font family import
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* 
** CSS reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
** Re-used styling
*/

:root {
  /* Primary Colors */
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);
  /* Neutral Colors */
  --color-neutral-gray: hsl(231, 11%, 63%);
  --color-neutral-light-gray: hsl(229, 24%, 87%);
  --color-neutral-magnolia: hsl(217, 100%, 97%);
  --color-neutral-alabaster: hsl(231, 100%, 99%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

/* Main styling */
body,
.main {
  background-color: var(--color-neutral-magnolia);
  width: 100%;
  height: 100%;
}

/* Article styling */
.article {
  background-color: var(--color-neutral-alabaster);
  width: 900px;
  height: 600px;
  display: flex;
  padding: 20px;
  gap: 80px;
  border-radius: 20px;
  margin-inline: auto;
  margin-top: 200px;
}

/* Steps section styling */
.steps {
  height: 100%;
  width: 300px;
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.step {
  display: flex;
  align-items: center;
  gap: 20px;
}
.step-number {
  border: 1px solid white;
  padding: 12px 15px;
  border-radius: 50%;
  color: white;
  font-family: "Ubuntu";
  font-weight: 500;
}
.current-step {
  border: none;
  background-color: var(--color-light-blue);
  color: black;
}
.step-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.step-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ubuntu";
  color: var(--color-neutral-gray);
  font-weight: 300;
}
.step-paragraph {
  color: white;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 500;
}

.hidden {
  display: none;
}
/* Details styling */
.details {
  padding: 40px;
  /* background-color: aqua; */
  position: relative;
}
.detail {
}
.detail-title {
  font-size: 30px;
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-marine-blue);
  margin-block-end: 15px;
}
.detail-paragraph {
  color: var(--color-neutral-gray);
  font-family: "Ubuntu";
  font-weight: 500;
  margin-block-end: 40px;
}

/* Step 1 Dedicated Styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form label {
  color: var(--color-marine-blue);
  font-family: "Ubuntu";
  font-weight: 500;
}
.btn-next {
  position: absolute;
  bottom: 10%;
  right: 9%;
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 18px;
  color: white;
  background-color: var(--color-marine-blue);
  padding: 20px 30px;
  border-radius: 10px;
}
.btn-back {
  position: absolute;
  bottom: 10%;
  left: 3%;
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 18px;
  color: var(--color-neutral-gray);
  padding: 20px 30px;
  border-radius: 10px;
}
input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-gray);
}

/* Step 2 Dedicated Styling */
.plan {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
}
.plan-card {
  width: 33%;
  border: 1px solid var(--color-neutral-gray);
  border-radius: 10px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px 10px;
}
.plan-card img {
  width: 40px;
}
.plan-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plan-title {
  color: var(--color-marine-blue);
  font-family: "Ubuntu";
  font-weight: 500;
}
.plan-price {
  color: var(--color-neutral-gray);
  font-family: "Ubuntu";
  font-weight: 500;
}
.subscription-type {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-magnolia);
  padding: 10px;
}
.switcher {
  background-color: var(--color-marine-blue);
  width: 40px;
  padding: 12px 28px;
  border-radius: 11px;
  position: relative;
}
.circle {
  background-color: white;
  width: 18px;
  padding-block: 10px;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 5%;
}
.active {
  font-family: "Ubuntu";
  color: var(--color-marine-blue);
  font-weight: bold;
}
.not-active {
  font-family: "Ubuntu";
  color: var(--color-neutral-gray);
  font-weight: bold;
}

/* Step 3 Dedicated Styling */
.add-ons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service {
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-neutral-gray);
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
}
.service:hover {
  border-color: var(--color-purplish-blue);
}
.checkbox {
  margin-right: 20px;
  transform: scale(1.5);
}
.checkbox:checked {
  accent-color: var(--color-purplish-blue);
}
.service-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 120px;
}
.service-title {
  font-family: "Ubuntu";
  font-weight: bold;
  color: var(--color-marine-blue);
}
.service-paragraph {
  font-family: "Ubuntu";
  color: var(--color-neutral-gray);
}
.service-price {
  font-family: "Ubuntu";
  color: var(--color-purplish-blue);
}
